{% extends "./base.html" %}


{% block contentWrapper %}
<div class="campaign mx-auto py-16">

            <!-- Start coding here -->
            
            <div class="bg-white relative shadow-md sm:rounded-lg  py-5 px-2 ">

                <div class="messages-sample grid gap-4 grid-cols-2 auto-rows-auto divide-x">

                    <div class=" py-4 px-10 h-auto overscroll-contain whitespace-normal">
                    <h1 class="font-semibold pb-5">Campaign Summary:</h1>
                   <p> {{campaign_details.campaign_summary}}</p>
                    <hr class="h-px my-8 bg-gray-400 border-0 dark:bg-gray-700">

                    <!--prospect-->
                    <h1 class="font-semibold pb-5">Prospects:</h1>

                    {% if campaign_details.contacts.prospect.all %}
                    {% for prospect  in campaign_details.contacts.prospect.all %}
                    
                   
                    
                   
                        <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700 rounded">
                            <li>
                                <a href="#" class="items-center block p-3 sm:flex hover:bg-gray-100 dark:hover:bg-gray-700 rounded">
                                    <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0" src="{{prospect.photo_url}}" alt="{{prospect.first_name}} image"/>
                                    <div class="text-gray-600 dark:text-gray-400">
                                        <div class="text-base font-normal"><span class="font-medium text-gray-900 dark:text-white mx-12">{{prospect.first_name}} </span> <span class="font-medium text-gray-900 dark:text-white">{{prospect.last_name}}</span> <span class="font-medium text-gray-900 dark:text-white">{{prospect.email}}</span></div>
                                       
                                    </div>
                                </a>
                            </li>
 
                        </ol>
                        {% endfor %}

                        {% endif %}
                    


                    <!--prospect-->
                    </div>

                    <div class="py-4 px-10 ">
                        <h1 class="font-semibold pb-5">AI Generated Email:</h1>
                        <hr class="h-px my-8 bg-gray-400 border-0 dark:bg-gray-700">
                        {% for ai_email in campaign_details.aigeneratedemail_set.all  %}
                        <pre class="text-justify whitespace-pre-wrap">{{ai_email|safe}}</pre>
                        {% endfor %}
  
                    </div>

                    

                </div>
                <div class="pt-2 grid grid-cols-2 gap-x-28">
                    <button type="button" data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="text-white bg-blue-600 dark:bg-blue-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-blue-700 w-44" >Approved Campaign</button>
                    {% for ai_email in campaign_details.aigeneratedemail_set.all  %}
                    <a href="{% url "email-edit" ai_email.id %}">
                    <button id="updateEmailButton" data-modal-target="updateEmailModal" data-modal-toggle="updateEmailModal" class="text-white bg-blue-600 dark:bg-blue-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-blue-700 w-44" type="button">
                        Update Email
                        </button>
                    </a>
                    {% endfor %}
                </div>

                

            </div>



       



            <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                        <div class="p-4 md:p-5 text-center">
                            
                            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want Approved and send the Email to your prospect client </h3>
                            <a href="{% url "send-email" campaign_details.id %}">
                            <button data-modal-hide="popup-modal" type="button" class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                                Approved
                            </button></a>
                            <button data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>



       
</div>


 
  
{% endblock contentWrapper %}